body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
}


.form-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 10px;
}

.form-container p {
    color: #555;
    margin-bottom: 25px;
}

/* Grupo de formulario  */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #34495e;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* Asegura que el espacio no afecte el ancho total */
}

.form-group input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

/* Botón de envío */
.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #2980b9;
}

.form-footer {
    margin-top: 25px;
    font-size: 0.9em;
}

.form-footer a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

/* Estilos para los mensajes de recomendacion */
.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    display: none; /* lo oculta por defecto */
}
.message.success {
    background-color: #d4edda;
    color: #155724;
    display: block;
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    display: block;
}