body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f4f7f6; 
    color: #333;
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh;   /* Ocupa toda la altura de la pantalla */
    margin: 0;
}


.welcome-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Una sombra sutil para dar profundidad */
    max-width: 600px;
}

h1 {
    font-size: 2.2em;
    color: #2c3e50;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
}

.action-buttons {
    display: flex;
    gap: 20px; /* da espacio entre botones */
    justify-content: center;
}


.btn {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    display: inline-block;
}

/* efecto para cuando paso el mouse*/
.btn:hover {
    transform: translateY(-2px); /*eleva el boton un toque*/
}

/* bton registro */
.btn-primary {
    background-color: #3498db; 
}

.btn-primary:hover {
    background-color: #2980b9; 
}

/* bton incio de sesion */
.btn-secondary {
    background-color: #7f8c8d; 
}

.btn-secondary:hover {
    background-color: #6c7a7b; 
}
